@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-400: #7d7d7d;
  --color-grey-200: #d8d8d8;
  --color-grey-150: #e5e5e5;
  --color-grey-100: #f3f3f3;

  --default-gradient: linear-gradient(to bottom, black 0%, black 85%);

  --font-libre-baskerville: "Libre Baskerville", serif;

  --text-xxl: 54px;
  --text-xl: 24px;
  --text-base: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
  --text-xxs: 9px;

  /* Spacing */
  --spacing: 8px;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 25px;
}

@utility text-preset-1 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xxl);
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.2px;

  @variant min-md {
    font-size: 200px;
    line-height: 115%;
  }
}

@utility text-preset-2 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 56px;
    line-height: 115%;
  }
}

@utility text-preset-3 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-base);
  font-weight: normal;
  line-height: 200%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 18px;
    line-height: 125%;
  }
}

@utility text-preset-4 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xs);
  font-weight: normal;
  line-height: 120%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 15px;
    line-height: 135%;
  }
}

@utility text-preset-5 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xxs);
  font-weight: normal;
  line-height: 125%;

  @variant min-md {
    font-size: 13px;
  }
}

@utility text-preset-6 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-sm);
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2.5px;
}

@utility text-preset-7 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xs);
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 2px;
}
