@import "./globals.css";

@layer components {
  .gallery-layout {
    @apply w-full h-fit grid items-start gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-items-center;
    @apply max-w-[310px] md:max-w-[660px] lg:max-w-[1360px];
  }
}
