@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-400: #7d7d7d;
  --color-grey-200: #d8d8d8;
  --color-grey-150: #e5e5e5;
  --color-grey-100: #f3f3f3;

  --default-gradient: linear-gradient(to bottom, black 0%, black 85%);

  --font-libre-baskerville: "Libre Baskerville", serif;

  --text-xxl: 54px;
  --text-xl: 24px;
  --text-base: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
  --text-xxs: 9px;

  /* Spacing */
  --spacing: 8px;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 25px;

  --z-index-base: 0;
  --z-index-overlay-mask: 10;
  --z-index-front: 30;
  --z-index-modal: 100;
  --z-index-overlay: 90;
}

@utility text-preset-1 {
  font-family: var(--font-libre-baskerville);
  font-size: 100px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.2px;

  @variant min-md {
    font-size: 200px;
    line-height: 115%;
  }
}

@utility text-preset-2 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 56px;
    line-height: 115%;
  }
}

@utility text-preset-2-small {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-base);
  font-weight: normal;
  line-height: 200%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 18px;
    line-height: 125%;
  }
}

@utility text-preset-4 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xs);
  font-weight: normal;
  line-height: 120%;
  letter-spacing: 0px;

  @variant min-md {
    font-size: 15px;
    line-height: 135%;
  }
}

@utility text-preset-5 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xxs);
  font-weight: bold;
  line-height: 125%;

  @variant min-md {
    font-size: 13px;
  }
}

@utility text-preset-6 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-sm);
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2.5px;
}

@utility text-preset-7 {
  font-family: var(--font-libre-baskerville);
  font-size: var(--text-xs);
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 2px;
}

@utility hpadding {
  padding-inline: calc(var(--spacing) * 3);

  @variant min-md {
    padding-inline: calc(var(--spacing) * 7);
  }

  @variant min-lg {
    padding-inline: calc(var(--spacing) * 5);
  }
}

@layer base {
  body {
    @apply flex flex-col min-h-screen bg-white hpadding;
  }

  nav {
    @apply flex w-full pt-3 md:pt-4 lg:pt-5;
  }
}

@layer components {
  .header-layout {
    @apply flex flex-col w-full gap-3 items-start;
  }

  .header-content {
    @apply flex flex-row w-full gap-3 lg:gap-5 justify-between items-center;
  }

  .header-baseline {
    @apply w-full h-px bg-grey-150;
  }

  .home-layout {
    @apply flex flex-col justify-center items-center py-3 md:py-5 gap-5 w-full;
  }

  .detail-page-layout {
    @apply flex flex-col justify-center items-center;
  }
}
